##########################
# ESP RGB Status LED

# all ok - white
# app error - pulse red
# app warning - pulse yellow
# ap enabled - pulse white
# on network disconnected - fast pulse red
# api disconnected - fast pulse yellow
# hp error - 
# heating - orange
# cooling - blue
# dhw - purple

status_indicator:
  id:  status
  on_turn_off: 
    then:
    - light.turn_on: 
        id: led
        red: 100%
        green: 100%
        blue: 100%
        brightness: 100%
        effect: none
  on_app_error:
    then: 
    - light.turn_on:
        id: led
        red: 100%
        green:  0%
        blue: 0%
        brightness: 100%
        effect: slow_pulse
  on_app_warning: 
    then:
    - light.turn_on:
        id: led
        red: 100%
        green: 100%
        blue: 0%
        brightness: 100%
        effect: slow_pulse
  on_wifi_ap_enabled:
    then:
    - light.turn_on:
        id: led
        red:  100%
        green: 100%
        blue: 100%
        brightness: 100%
        effect: slow_pulse
  on_network_disconnected:
    then: 
    - light.turn_on:
        id: led
        red: 100%
        green: 0%
        blue: 0%
        brightness: 100%
        effect: fast_pulse
  on_api_disconnected: 
    then:
    - light. turn_on:
        id:  led
        red: 100%
        green: 100%
        blue: 0%
        brightness: 100%
        effect: fast_pulse
  on_custom_status:
    - trigger_id: heating
      group:  hp
      then:
        - light.turn_on:
            id: led
            red:  100%
            green: 65%
            blue: 0%
            brightness: 100%
            effect: None
    - trigger_id: cooling
      group: hp
      then: 
        - light.turn_on:
            id: led
            red: 0%
            green: 0%
            blue: 100%
            brightness: 100%
            effect: None
    - trigger_id: hotwater
      group: hp
      then:
        - light.turn_on:
            id: led
            red: 100%
            green: 0%
            blue: 100%
            brightness: 100%
            effect: None
