esphome:
  name: atom_s3_status
  friendly_name: Atom S3 Status LED

  on_error:
    then:
      - light.turn_on:
          id: led
          red: 100%
          green: 0%
          blue: 0%
          brightness: 100%
          effect: slow_pulse

  on_boot:
    priority: -10
    then:
      - light.turn_on:
          id: led
          red: 100%
          green: 100%
          blue: 100%
          brightness: 100%
          effect: none

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

  on_connect:
    then:
      - light.turn_on:
          id: led
          red: 100%
          green: 100%
          blue: 100%
          effect: none

  on_disconnect:
    then:
      - light.turn_on:
          id: led
          red: 100%
          green: 0%
          blue: 0%
          effect: fast_pulse

  ap:
    ssid: "fallback"
    on_start:
      then:
        - light.turn_on:
            id: led
            red: 100%
            green: 100%
            blue: 100%
            effect: slow_pulse

api:
  on_disconnect:
    then:
      - light.turn_on:
          id: led
          red: 100%
          green: 100%
          blue: 0%
          effect: fast_pulse

logger:

light:
  - platform: neopixelbus
    id: led
    internal: true
    pin: 35
    num_leds: 1
    type: GRB
    variant: WS2812
    restore_mode: RESTORE_DEFAULT_OFF

    effects:
      - pulse:
          name: slow_pulse
          transition_length: 1s
          update_interval: 1s
      - pulse:
          name: fast_pulse
          transition_length: 0.3s
          update_interval: 0.3s

script:
  - id: heating
    then:
      - light.turn_on:
          id: led
          red: 100%
          green: 65%
          blue: 0%
          brightness: 100%
          effect: none

  - id: cooling
    then:
      - light.turn_on:
          id: led
          red: 0%
          green: 0%
          blue: 100%
          brightness: 100%
          effect: none

  - id: hotwater
    then:
      - light.turn_on:
          id: led
          red: 100%
          green: 0%
          blue: 100%
          brightness: 100%
          effect: none
